<app-main></app-main>
<div class="layout-content">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-3">
            <p-menu [model]="items"></p-menu>
        </div>
        <div class="p-col-12 p-md-6 p-lg-9">
            <p-table [value]="notes" *ngIf="tablenotes">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Materia</th>
                        <th>Deberes</th>
                        <th>Talleres</th>
                        <th>Laboratorios</th>
                        <th>Pruebas</th>
                        <th>Examenes</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-note>
                    <tr *ngIf="notes1p">
                        <td>{{note.MATERIA}}</td>
                        <td>{{note.NOTA1}}</td>
                        <td>{{note.NOTA2}}</td>
                        <td>{{note.NOTA3}}</td>
                        <td>{{note.NOTA4}}</td>
                        <td>{{note.NOTA5}}</td>
                    </tr>
                    <tr *ngIf="notes2p">
                        <td>{{note.MATERIA}}</td>
                        <td>{{note.NOTA6}}</td>
                        <td>{{note.NOTA7}}</td>
                        <td>{{note.NOTA8}}</td>
                        <td>{{note.NOTA9}}</td>
                        <td>{{note.NOTA10}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<app-footer></app-footer>