<app-main></app-main>
<div class="p-grid">
    
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-menu [model]="items"></p-menu>
    </div>
    <div class="p-col-12 p-md-4 p-lg-8">
        <p-table [value]="campus"  *ngIf="campusList">
            <ng-template pTemplate="header">
                <tr>
                    <th>Codigo de sede</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Codigo Postal</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-campus>
                <tr *ngIf="campusList">
                    <td>{{campus.COD_SEDE}}</td>
                    <td>{{campus.NOMBRE}}</td>
                    <td>{{campus.DIRECCION}}</td>
                    <td>{{campus.TELEFONO}}</td>
                    <td>{{campus.CODIGO_POSTAL}}</td>
                </tr>
            </ng-template>
        </p-table>
        <p-table [value]="buildings" *ngIf="buildingList">
            <ng-template pTemplate="header">
                <p-dropdown [options]="campus" [(ngModel)]="selectedCampus" placeholder="Selecciona la Sede..." optionLabel="NOMBRE" [showClear]="true" (onChange)="onChange(selectedCampus)"></p-dropdown>
                <tr>
                    <th>Codigo Edificio</th>
                    <th>Sede</th>
                    <th>Nombre</th>
                    <th>Cantidad pisos</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-building>
                <tr>
                    <td>{{building.COD_EDIFICIO}}</td>
                    <td>{{campus.NOMBRE}}</td>
                    <td>{{building.NOMBRE}}</td>
                    <td>{{building.CANTIDAD_PISOS}}</td>
                </tr>
            </ng-template>

        </p-table>

    </div>
</div>
<app-footer></app-footer>