<div class="p-grid">
    <div class="p-col-4">
        <div class="card">
            <h2>Materia:</h2>
            <p-dropdown [options]="subjects" [(ngModel)]="selectedSubject" placeholder="Selecciona la Asignatura..." optionLabel="MATERIA" [showClear]="true" (onChange)="onChange(selectedSubject)"></p-dropdown>
        </div>
    </div>
    <div class="p-col-4" *ngIf="dropLevel">
        <div class="card">
            <h2>Nivel Educativo:</h2>
            <p-dropdown [options]="levels" [(ngModel)]="selectedLevel" placeholder="Selecciona el nivel educativo..." optionLabel="NOMBRE" [showClear]="true" (onChange)="onChangeLevel(selectedLevel)"></p-dropdown>
        </div>
    </div>
    <div class="p-col-4" *ngIf="dropClassroom">
        <div class="card">
            <h2>Aula:</h2>
            <p-dropdown [options]="classrooms" [(ngModel)]="selectedClassroom" placeholder="Selecciona el aula..." optionLabel="NOMBRE" [showClear]="true" (onChange)="onChangeClassroom(selectedClassroom)"></p-dropdown>
        </div>
    </div>
</div>

<p-table [value]="students" *ngIf="optionSubject">
    <ng-template pTemplate="header">
        <tr>
            <th>Materia</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
        <tr>
            <td>{{student.MATERIA}}</td>
            <td>{{student.APELLIDO}}</td>
            <td>{{student.NOMBRE}}</td>
        </tr>
    </ng-template>
    <p-splitButton *ngIf="tablestudents" label="Seleccionar Parcial" icon="pi pi-calendar-plus" (onClick)="save()" [model]="items"></p-splitButton>
</p-table>