<head>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <script>
        window.jQuery || document.write('<script src="../js/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="../js/modernizr.js"></script>
    <script src="../js/main.js"></script>
</head>
<header class="full-reset header">
    <div class="full-reset logo">
        <img src="../assets/img/logo2.png" alt="Logo" class="hidden-xs hidden-sm">
    </div>
    <nav class="full-reset navigation">
        <ul class="full-reset list-unstyled">
            <li><a href="/index">Inicio</a></li>
            <li><a href="/institution">Institución</a></li>
            <li><a href="/academy">Academico</a></li>
            <li><a href="./system/login/start.php">Mi Colegio</a></li>
        </ul>
    </nav>
</header>