<select [(ngModel)]="selectedSubject" (change)="onChange(selectedSubject)" class="form-control col-lg-8">
    <option *ngFor="let subject of subjects" [ngValue]="subject.COD_ASIGNATURA">
        {{ subject.MATERIA }}</option>
</select>
<p-table [value]="students">
    <ng-template pTemplate="header">
        <tr>
            <th>Materia</th>
            <th>Apellidos</th>
            <th>Nombres</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
        <tr>
            <td>{{student.MATERIA}}</td>
            <td>{{student.APELLIDO}}</td>
            <td>{{student.NOMBRE}}</td>
        </tr>
    </ng-template>
    <p-splitButton *ngIf="tablestudents" label="Seleccionar Parcial" icon="pi pi-calendar-plus" (onClick)="save()" [model]="items"></p-splitButton>
</p-table>