<p-table [value]="notes">
    <ng-template pTemplate="header">
        <select [(ngModel)]="selectedSubject" (change)="onChange(selectedSubject)" class="form-control col-lg-8">
            <option *ngFor="let subject of subjects" [ngValue]="subject.COD_ASIGNATURA">
                {{ subject.MATERIA }}</option>
        </select>
        <tr>
            <th>Materia</th>
            <th>Apellidos</th>
            <th>Nombres</th>
            <th>Asignar Calificacion</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-students>
        <tr>
            <td>{{students.MATERIA}}</td>
            <td>{{students.APELLIDO}}</td>
            <td>{{students.NOMBRE}}</td>
        </tr>
    </ng-template>
</p-table>